body {
  padding: 10px;
  background: #fcfcfc;
}

.w-10 {
  width: 10% !important;
}

.w-80 {
  width: 80% !important;
}

.fz-14 {
  font-size: 14px !important;
}

.fz-15 {
  font-size: 15px !important;
}

.fz-16 {
  font-size: 16px !important;
}

.fw-500 {
  font-weight: 500 !important;
}

#title {
  font-size: 18px;
  font-weight: bold;
}

#search-section {
  width: 700px;
  padding: 10px;
  background: #ECECEC;
  border: 1px solid #dcdcdc;
  border-radius: 10px;
}

#content-section:not(:empty) {
  width: 700px;
  margin: 10px 0 0 0;
  padding: 10px;
}

#loading {
  overflow: hidden;
  background: linear-gradient(90deg, #fff, #000, #fff);
  background-repeat: no-repeat;
  background-size: 80%;
  animation: animate 6s linear infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(0, 0, 0, 0);
}

@keyframes animate {
  0% {
    background-position: -500%;
  }
  100% {
    background-position: 500%;
  }
}

.table thead {
  background: #ECECEC !important;
}

.table thead th {
  border: none !important;
}

.table tr {
  border-bottom: 1px solid #D6D6D6;
}

.table td {
  border: none !important;
}

#wishlistTable_length {
  margin-bottom: 15px !important;
}

.more-info-toggle {
  cursor: pointer;
  color: #000BA8;
  border-bottom: 1px dashed #000BA8;
}

.more-info-toggle:hover {
  color: #0011FF;
  border-bottom: 1px dashed #0011FF;
}

.toast {
  position: fixed;
  left: 5px;
  bottom: 5px;
  width: auto !important;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

.toast-error {
  background-color: rgba(190, 0, 0, 0.8);
  border: 1px solid rgba(190, 0, 0, 1);
}

:is(
  .toast-body,
  .toast-body strong
) {
  color: white !important;
}

.toast:has(.toast-body:empty) {
  display: none;
}

@media (max-width: 700px) {
  #search-section,
  #content-section {
    width: 100% !important;
  }
}